html{
    font-size: 18px;
    background-color: var(--cream-color);
}
body{
    font-family: 'Cairo', sans-serif;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}
h1,h2.h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
:root{
    --soft-color: hsl(10, 79%, 65%);
    --cyan-color: hsl(186, 34%, 60%);
    --dark-brown-color: hsl(25, 47%, 15%);
    --dark-medium-brown: hsl(28, 10%, 53%);
    --cream-color: hsl(27, 66%, 92%);
    --very-pale: hsl(33, 100%, 98%);
}
/* start chart-component  */
.chart-component .container{
    max-width: 500px;
    margin: 10px auto;
}
.chart-component .container .head{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.199);
    background-color: var(--soft-color);
    padding: 20px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.chart-component .container .head .logo{
    display: flex;
}
.chart-component .container .head .logo .circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.chart-component .container .head .logo .circle:last-child{
    background-color: black;
    margin-left: -20px;
}
.chart-component .container .head .logo .circle:first-child{
    border: 2px solid white;
    z-index: 34;
}
.chart-component .container .diagram{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.199);
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.chart-component .container .diagram .figures{
    height: 200px; 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}
.chart-component  .container .diagram .figures .charit{
    width: 40px;
    background-color: var(--cyan-color);
    position: relative;
    border-radius: 6px;
    border-right: 1px solid black;
    cursor: pointer;
}
.chart-component  .container .diagram .figures .charit.bg-blue{
    background-color: var(--cyan-color);
}
.chart-component .container .diagram .figures .charit.bg-red{
    background-color: var(--soft-color);
}
.chart-component .container .diagram .figures .charit::after{
    content: attr(data-day);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: var(--dark-medium-brown);
}
.chart-component .container .diagram .figures .charit::before{
    content: attr(data-amount);
    position: absolute;
    font-size: 16px;
    top: -43px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 6px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.3s;
}
.chart-component .container .diagram .figures .charit:hover::before{
    opacity: 1;
}
.chart-component .container .line{
    width: 100%;
    height: 1px;
    background-color: var(--dark-medium-brown);
    margin-bottom: 10px;
}
.chart-component .container .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chart-component .container .info .box .title{
    color: var(--dark-medium-brown);
}
.chart-component .container .info .box:first-child .num{
    font-size: 30px;
    font-weight: bold;
}
.chart-component .container .info .box:last-child .num{
    font-weight: bold;
}
/* end chart-component  */